In [ ]:
# Importamos las librerías necesarias
import pandas as pd # Para el manejo de datos
import os # Para manejar rutas de archivos

In [ ]:
# Cargamos el archivo de datos
ruta_archivo = '../../data/raw_data/school_dropout/educacion_11.xlsx'
df = pd.read_excel(ruta_archivo)

In [ ]:
# Obtenemos las primeras 10 filas del DataFrame
df.head(10)

,Entidad federativa,Nivel educativo,2000/2001,2005/2006,2010/2011,2015/2016,2020/2021,2021/2022,2022/2023,2023/2024
0,Estados Unidos Mexicanos,Primaria,1.9,1.3,0.7,0.7,0.5,0.2,0.1,0.1
1,NaN,Secundaria,8.3,7.7,5.6,4.4,2.9,3.9,3.2,2.9
2,NaN,Media superior,17.5,16.5,14.9,15.5,11.6,10.2,11.2,10.8
3,NaN,Superior,8.2,7.6,7.1,7.0,8.8,8.1,7.2,5.7
4,Aguascalientes,Primaria,1.5,1.6,-0.2,0.2,0.7,0.4,0.0,0.0
5,NaN,Secundaria,8.0,8.2,4.5,5.9,3.0,4.6,4.7,4.5
6,NaN,Media superior,16.6,15.6,15.2,14.2,13.5,8.3,10.7,10.3
7,NaN,Superior,3.8,6.1,7.2,6.3,4.8,10.3,8.4,8.8
8,Baja California,Primaria,1.3,1.2,0.2,-0.2,-0.5,-0.4,-1.4,-0.9
9,NaN,Secundaria,9.9,7.0,5.6,4.6,1.4,2.9,2.7,2.2

In [ ]:
# Rellenamos los valorse nulos en la columna 'Entidad federativa' con el valor de la fila anterior
for registro in range(df.shape[0]): 
    if pd.isna(df.loc[registro, 'Entidad federativa']):
        df.loc[registro, 'Entidad federativa'] = df.loc[registro - 1, 'Entidad federativa']
df.head()

,Entidad federativa,Nivel educativo,2000/2001,2005/2006,2010/2011,2015/2016,2020/2021,2021/2022,2022/2023,2023/2024
0,Estados Unidos Mexicanos,Primaria,1.9,1.3,0.7,0.7,0.5,0.2,0.1,0.1
1,Estados Unidos Mexicanos,Secundaria,8.3,7.7,5.6,4.4,2.9,3.9,3.2,2.9
2,Estados Unidos Mexicanos,Media superior,17.5,16.5,14.9,15.5,11.6,10.2,11.2,10.8
3,Estados Unidos Mexicanos,Superior,8.2,7.6,7.1,7.0,8.8,8.1,7.2,5.7
4,Aguascalientes,Primaria,1.5,1.6,-0.2,0.2,0.7,0.4,0.0,0.0

In [ ]:
# Nos quedamos solo con el nivel superior 
df_superior =df[df['Nivel educativo'] == 'Superior'].copy() 
# Nos quedamos solo con los datos de 2024
df_superior_2024 = df_superior[['Entidad federativa','Nivel educativo','2023/2024']].copy()
# Renombramos las columnas y limpiamos el DataFrame
df_superior_2024.rename(columns={'Entidad federativa': 'NOM_ENT', 'Nivel educativo': 'Nivel', '2023/2024': 'TASA_ABANDONO'}, inplace=True)
# Eliminar fila por índice
df_superior_2024.drop(index = 3, inplace=True)
df_superior_2024.reset_index(drop=True, inplace=True)
df_superior_2024

                            NOM_ENT     Nivel  TASA_ABANDONO
0                    Aguascalientes  Superior            8.8
1                   Baja California  Superior            5.1
2               Baja California Sur  Superior           13.6
3                          Campeche  Superior           12.2
4              Coahuila de Zaragoza  Superior            6.4
5                            Colima  Superior           11.0
6                           Chiapas  Superior            4.3
7                         Chihuahua  Superior            8.7
8                  Ciudad de México  Superior            3.0
9                           Durango  Superior            3.4
10                       Guanajuato  Superior            8.2
11                         Guerrero  Superior            5.6
12                          Hidalgo  Superior            4.7
13                          Jalisco  Superior           -4.7
14                           México  Superior            8.1
15              Michoacán de Ocampo  Superior           10.0
16                          Morelos  Superior            1.3
17                          Nayarit  Superior            6.2
18                       Nuevo León  Superior           -2.7
19                           Oaxaca  Superior            9.8
20                           Puebla  Superior            8.0
21                        Querétaro  Superior            0.4
22                     Quintana Roo  Superior           13.4
23                  San Luis Potosí  Superior            3.3
24                          Sinaloa  Superior            8.7
25                           Sonora  Superior           13.0
26                          Tabasco  Superior            6.9
27                       Tamaulipas  Superior            5.1
28                         Tlaxcala  Superior            6.3
29  Veracruz de Ignacio de la Llave  Superior           10.8
30                          Yucatán  Superior           11.9
31                        Zacatecas  Superior            5.6

In [15]:
# Guardamos nuestro dataframe limpio a un nuevo archivo CSV
# df_superior_2024.to_csv('abandono_escolar_nivel_superior_2024.csv', index=False)