In [ ]:
# Importamos las librerías necesarias
import pandas as pd # Manejo de datos

In [ ]:
# Importamos el conjunto de datos 
df = pd.read_parquet('../../raw_data/trimestral_personal_income_by_entity/conjunto_de_datos_gastospersona_enigh2024_ns.parquet')
df.head()

,folioviv,foliohog,numren,clave,tipo_gasto,mes_dia,frec_rem,inst,forma_pag1,forma_pag2,...,cantidad,gasto,costo,gasto_tri,gasto_nm,gas_nm_tri,entidad,est_dis,upm,factor
0,100001901,1,1,073215,G4,1029,5,NaN,0,0,...,2,,300,,300,3857.14,1,1,1,207
1,100001901,1,1,073215,G4,1030,5,NaN,0,0,...,2,,300,,300,3857.14,1,1,1,207
2,100001901,1,1,073215,G4,1031,5,NaN,0,0,...,2,,300,,300,3857.14,1,1,1,207
3,100001901,1,1,073215,G4,1101,5,NaN,0,0,...,2,,300,,300,3857.14,1,1,1,207
4,100001901,1,1,111113,G4,1029,5,NaN,0,0,...,1,,100,,100,1285.71,1,1,1,207

In [3]:
# Tamaño dataset 
df.shape

(377073, 23)

In [4]:
# columnas utilizadas 
df.columns

Index(['folioviv', 'foliohog', 'numren', 'clave', 'tipo_gasto', 'mes_dia',
       'frec_rem', 'inst', 'forma_pag1', 'forma_pag2', 'forma_pag3', 'inscrip',
       'colegia', 'cantidad', 'gasto', 'costo', 'gasto_tri', 'gasto_nm',
       'gas_nm_tri', 'entidad', 'est_dis', 'upm', 'factor'],
      dtype='object')

In [5]:
# numero de veces que aparece una entidad 
num_entidades = df['entidad'].value_counts()
num_entidades

entidad
15    23610
9     20814
5     17159
23    16347
22    16091
8     15301
19    15148
29    15135
17    14708
31    12420
27    11913
6     11635
25    11411
13    11344
21    11051
11    11050
30    11038
1     10873
26    10675
3     10329
14    10230
12     9333
2      9018
24     9000
10     8458
20     8390
28     8266
4      8088
16     7983
18     7768
7      7033
32     5454
Name: count, dtype: int64

In [6]:
# contamos el numero de valores nulos 
df.isnull().sum()

folioviv           0
foliohog           0
numren             0
clave              0
tipo_gasto         0
mes_dia            0
frec_rem           0
inst          108491
forma_pag1         0
forma_pag2         0
forma_pag3         0
inscrip            0
colegia            0
cantidad           0
gasto              0
costo              0
gasto_tri          0
gasto_nm           0
gas_nm_tri         0
entidad            0
est_dis            0
upm                0
factor             0
dtype: int64

In [ ]:
# Diccionario de entidades 
mapa_entidades = {
    1: "Aguascalientes",
    2: "Baja California",
    3: "Baja California Sur",
    4: "Campeche",
    5: "Coahuila de Zaragoza",
    6: "Colima",
    7: "Chiapas",
    8: "Chihuahua",
    9: "Ciudad de México",
    10: "Durango",
    11: "Guanajuato",
    12: "Guerrero",
    13: "Hidalgo",
    14: "Jalisco",
    15: "Estado de México", 
    16: "Michoacán de Ocampo",
    17: "Morelos",
    18: "Nayarit",
    19: "Nuevo León",
    20: "Oaxaca",
    21: "Puebla",
    22: "Querétaro",
    23: "Quintana Roo",
    24: "San Luis Potosí",
    25: "Sinaloa",
    26: "Sonora",
    27: "Tabasco",
    28: "Tamaulipas",
    29: "Tlaxcala",
    30: "Veracruz de Ignacio de la Llave",
    31: "Yucatán",
    32: "Zacatecas"
}

In [ ]:
# Limpiamos la columna de gasto trimestral
df['gasto_tri'] = pd.to_numeric(df['gasto_tri'].astype(str).str.replace(',', '', regex=False).str.strip(), errors='coerce')

df['gasto_tri_factor'] = df['gasto_tri'] * df['factor']
# Calculamos el gasto promedio por entidad
gasto_por_entidad = df.groupby('entidad')['gasto_tri_factor'].mean()

# Reseteamos el indice
df_gasto_tri_por_entidad = gasto_por_entidad.reset_index()

# Modificamos nombre de columnas 
df_gasto_tri_por_entidad['entidad'] = df_gasto_tri_por_entidad['entidad'].map(mapa_entidades)

# Imprimimos resultado 
df_gasto_tri_por_entidad

                            entidad  gasto_tri_factor
0                    Aguascalientes      1.824539e+05
1                   Baja California      5.318981e+05
2               Baja California Sur      1.390999e+05
3                          Campeche      9.403555e+04
4              Coahuila de Zaragoza      3.748712e+05
5                            Colima      8.846378e+04
6                           Chiapas      4.787897e+05
7                         Chihuahua      3.753087e+05
8                  Ciudad de México      7.704044e+05
9                           Durango      2.406657e+05
10                       Guanajuato      6.618110e+05
11                         Guerrero      3.389124e+05
12                          Hidalgo      3.103347e+05
13                          Jalisco      9.793385e+05
14                 Estado de México      1.230313e+06
15              Michoacán de Ocampo      5.351675e+05
16                          Morelos      1.713955e+05
17                          Nayarit      1.685317e+05
18                       Nuevo León      7.973047e+05
19                           Oaxaca      3.916231e+05
20                           Puebla      5.486391e+05
21                        Querétaro      2.952710e+05
22                     Quintana Roo      2.162304e+05
23                  San Luis Potosí      4.581579e+05
24                          Sinaloa      2.858358e+05
25                           Sonora      5.814664e+05
26                          Tabasco      2.640814e+05
27                       Tamaulipas      5.722268e+05
28                         Tlaxcala      1.149458e+05
29  Veracruz de Ignacio de la Llave      6.709360e+05
30                          Yucatán      2.876517e+05
31                        Zacatecas      2.395718e+05

In [9]:
df_gasto_tri_por_entidad.rename(columns={'entidad': 'NOM_ENT', 'gasto_tri_factor': 'GASTO_PROM_TRI'}, inplace=True)

In [10]:
df_gasto_tri_por_entidad.to_csv('gasto_promedio_trim_por_entidad_2024.csv', index = False)