In [ ]:
# Importamos las librerías necesarias
import pandas as pd

In [ ]:
# Importamos el conjunto de datos
df = pd.read_csv('../../raw_data/trimestral_entity_income/conjunto_de_datos_ingresos_enigh2024_ns.csv')
df.head()

,folioviv,foliohog,numren,clave,mes_1,mes_2,mes_3,mes_4,mes_5,mes_6,...,ing_2,ing_3,ing_4,ing_5,ing_6,ing_tri,entidad,est_dis,upm,factor
0,100001901,1,1,P001,10,9,8,7,6,5,...,16680,16680,16680,16680,16680,48952.17,1,1,1,207
1,100001901,1,1,P004,10,9,8,7,6,5,...,6000,6000,6000,6000,6000,17608.69,1,1,1,207
2,100001901,1,1,P006,10,9,8,7,6,5,...,1500,1500,1500,1500,1500,4402.17,1,1,1,207
3,100001901,1,1,P008,10,9,8,7,6,5,...,,,,,,4402.17,1,1,1,207
4,100001901,1,1,P009,10,9,8,7,6,5,...,,,,,,3423.91,1,1,1,207

In [ ]:
# Mapeo de entidades federativas
mapa_entidades = {
    1: "Aguascalientes",
    2: "Baja California",
    3: "Baja California Sur",
    4: "Campeche",
    5: "Coahuila",
    6: "Colima",
    7: "Chiapas",
    8: "Chihuahua",
    9: "Ciudad de México",
    10: "Durango",
    11: "Guanajuato",
    12: "Guerrero",
    13: "Hidalgo",
    14: "Jalisco",
    15: "Estado de México", # 'México' en la lista, pero 'Estado de México' es menos ambiguo
    16: "Michoacán",
    17: "Morelos",
    18: "Nayarit",
    19: "Nuevo León",
    20: "Oaxaca",
    21: "Puebla",
    22: "Querétaro",
    23: "Quintana Roo",
    24: "San Luis Potosí",
    25: "Sinaloa",
    26: "Sonora",
    27: "Tabasco",
    28: "Tamaulipas",
    29: "Tlaxcala",
    30: "Veracruz",
    31: "Yucatán",
    32: "Zacatecas"
}

In [ ]:
df['ing_tri_factor'] = df['ing_tri'] * df['factor']
# Agrupamos por entidad numerica 
ing_tri_por_entidad = df.groupby('entidad')['ing_tri_factor'].mean()

df_ing_tri_por_entidad = ing_tri_por_entidad.reset_index() 

# Realizamos el mapeo de entidades 
df_ing_tri_por_entidad['entidad'] = df_ing_tri_por_entidad['entidad'].map(mapa_entidades)

df_ing_tri_por_entidad

                entidad  ing_tri_factor
0        Aguascalientes    2.612018e+06
1       Baja California    7.118157e+06
2   Baja California Sur    1.972358e+06
3              Campeche    1.623874e+06
4              Coahuila    4.099685e+06
5                Colima    1.329312e+06
6               Chiapas    6.691835e+06
7             Chihuahua    5.100748e+06
8      Ciudad de México    2.397887e+07
9               Durango    2.619300e+06
10           Guanajuato    8.918310e+06
11             Guerrero    4.050380e+06
12              Hidalgo    5.459425e+06
13              Jalisco    1.879436e+07
14     Estado de México    2.177860e+07
15            Michoacán    9.218251e+06
16              Morelos    3.348328e+06
17              Nayarit    2.772171e+06
18           Nuevo León    1.170335e+07
19               Oaxaca    4.782430e+06
20               Puebla    1.129817e+07
21            Querétaro    4.038387e+06
22         Quintana Roo    3.877561e+06
23      San Luis Potosí    4.826370e+06
24              Sinaloa    4.481076e+06
25               Sonora    6.063607e+06
26              Tabasco    4.099140e+06
27           Tamaulipas    7.606076e+06
28             Tlaxcala    2.208885e+06
29             Veracruz    1.057157e+07
30              Yucatán    3.451838e+06
31            Zacatecas    2.426348e+06

In [ ]:
# Guardamos el DataFrame resultante en un archivo CSV
df_ing_tri_por_entidad.to_csv('../../data/processed_data/ing_tri_por_entidad_2024.csv', index = False)